@page "/"

<PageTitle>Home</PageTitle>

<!-- Preloader Area Start -->
<div class="preloader">
    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="preloader-heading">
        <div class="load-text">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
        </div>
    </div>
</div>
<!-- Preloader Area End -->

<!-- HERO SECTION START -->
<section class="hero-section style-2 d-flex align-items-center" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-wrrapper wow fadeInUp" data-wow-delay=".4s">
                    <div class="hero-image-box d-none d-md-inline-block">
                        <img src="assets/img/hero/hero-2.png" alt="" />
                    </div>
                    <div class="hero-content-box">
                        <h1 class="hero-title">Hi, I am Web <br />Developer + UX Designer</h1>
                        <div class="hero-image-box d-md-none text-center">
                            <img src="assets/img/hero/me.png" alt="" />
                        </div>
                        <p class="lead">
                            I design and code beautifully simple things and i love what i do. Just simple
                            like that!
                        </p>
                        <div class="button-box d-flex flex-wrap align-items-center">
                            <a href="#" class="tj-btn-primary-2">
                                Hire me!
                                <span class="icon_box">
                                    <i class="fa-regular fa-arrow-right icon_first"></i>
                                    <i class="fa-regular fa-arrow-right icon_second"></i>
                                </span>
                            </a>
                            <ul class="ul-reset social-icons style-2">
                                <li>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-light fa-basketball"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO SECTION END -->

<!-- WORKS SECTION START -->
<section class="mt-5 mb-5 works-section" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header style-2">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".4s">Education & Work Experience</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="works-content-area wow fadeInUp" data-wow-delay=".8s">
                    <div class="works-content-item">
                        <h6 class="title">Education</h6>
                        <div class="works-content-box">
                            <div class="works-item">
                                <h5 class="title">BA in Design</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>January 2024 - Present</span>
                            </div>
                            <div class="works-item">
                                <h5 class="title">UX/UI Design School</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>April 2024 - Present</span>
                            </div>
                        </div>
                    </div>
                    <div class="works-content-item">
                        <h6 class="title">Experience</h6>
                        <div class="works-content-box">
                            <div class="works-item">
                                <h5 class="title">Lion Parcel</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>February 2024 - Present</span>
                            </div>
                            <div class="works-item">
                                <h5 class="title">Enver Studio</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>May 2024 - Present</span>
                            </div>
                            <div class="works-item">
                                <h5 class="title">TOKO Distributor</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>March 2024 - Present</span>
                            </div>
                            <div class="works-item">
                                <h5 class="title">Sakoo</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>June 2024 - Present</span>
                            </div>
                        </div>
                    </div>
                    <div class="works-content-item">
                        <h6 class="title">Past Roles</h6>
                        <div class="works-content-box">
                            <div class="works-item">
                                <h5 class="title">Lion Parcel</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>February 2024 - Present</span>
                            </div>
                            <div class="works-item">
                                <h5 class="title">Enver Studio</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>May 2024 - Present</span>
                            </div>
                            <div class="works-item">
                                <h5 class="title">TOKO Distributor</h5>
                                <h6 class="sub-title">Product Designer</h6>
                                <span>March 2024 - Present</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WORKS SECTION END -->